@use "../helper/var" as *;

.services {
  padding: 50px 0;
  position: relative;
  @extend %sections-width;
  @extend %sections-under-line;

  .services-container {
    @extend %d-flex-j-between-a-center;

    .cont {
      @extend %d-flex-column;
      width: 50%;
      gap: $gap;

      .title {
        h2 {
          @extend %titles;
        }
      }

      .info {
        padding: 0 0 0 2.5em;

        ul {
          @extend %d-flex-column;
          gap: 1em;

          li {
            color: $p;
          }
        }
      }
    }
  }
}
